<html>
  <head>
    <title>Hasil Klasifikasi</title>
  </head>
  <body>
    <h1>Hasil Klasifikasi</h1>
    <p>Age = {{data['age']}}</p>
    <p>Sex = {{data['sex']}}</p>
    <p>Chest Pain = {{data['cp']}}</p>
    <p>Cholesterol = {{data['chol']}}</p>
    <p>Blood Sugar = {{data['fbs']}}</p>
    <p>ECG Result = {{data['restecg']}}</p>
    <p>Max Heart Rate = {{data['thalach']}}</p>
    <p>Exercise Routinely = {{data['exang']}}</p>
    <p>Stress Test Depression = {{data['oldpeak']}}</p>
    <p>Slope = {{data['slope']}}</p>
    <p>Number of Major Vessel = {{data['ca']}}</p>
    <p>Thalium Stress = {{data['thal']}}</p>
    <p>Prediksi = {{prediksi}}</p>
    <!-- <p>Prediction = {{data['pred']}}</p> -->
  </body>
</html>
